/* = = = = = = = = = = = = = = = =
Muncak Landing Page
PSD Layout
Practicing making a Landing Page from PSD
Start Coding : 15-03-2020
= = = = = = = = = = = = = = = = */

/* ============ 12 COLUMN GRID  ============ */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* { /* reset all extra spaces*/

  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
          margin: 0;
          padding:0;
          box-sizing: border-box;
          border: 0px solid black;
          font-family: 'Open Sans', sans-serif;
}
a, p, h1, h2 {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}
body {
  background-color: #fbfcfc;
  display: flex;
  justify-content: center;
  overflow-x: hidden!important;
}
.wrapper {
  width: 80%;
  height: auto;
}
.inner-wrapper {
 padding: 50px;
}
.title-container {
  display: flex;
  justify-content: space-between;

}
h1.head-name::first-letter{
  color: #2870db;
}
h1.head-name{
  font-size: 40px;
  color: #1c2056;
}
.head-navigation{
 display: flex;
 align-items: center;
 list-style-type: none;
}
.head-navigation a{
  padding: 5px 25px;
  border-radius: 20px;
  color: white;
}
.login-btn {
  color: #14215e!important;
  background-color: white;
  border-radius: 10px!important;
}

/**/
.intro-container {
  padding: 50px;
  margin-bottom: 40%;
  display: flex;
  justify-content: flex-start;
}
.before-intro{
  content : url('img/header--left.png');
  top: 230px;
  left: 0px;
  position: absolute;
  display: block;
  z-index: -10;
}
.after-intro{
  content : url('img/header--right.png');
  top: 0px;
  right: 0px;
  position: absolute;
  display: block;
  z-index: -10;
}
.intro-title {
  font-size: 35px;
  color: #1c2056;
}
.intro-container-paragraph {
  color: #1c2056;
  font-size: 18px;
  margin: 10px 0 50px 0;
  line-height: 1.6em;
}
.call-to-action-btn {
  background-color: #2870db;
  padding: 10px 25px;
  color: white;
  font-size: 18px;
  border-radius: 20px!important;
  -webkit-box-shadow: 0px 10px 21px 0px rgba(187,208,232,1);
  -moz-box-shadow: 0px 10px 21px 0px rgba(187,208,232,1);
  box-shadow: 0px 10px 21px 0px rgba(187,208,232,1);
}
/**/
.support-container {
  padding-top: 100px;
}
.section-title {
  font-size: 28px;
  text-align: center;
  padding-bottom: 40px;
}
.commentbox {
  background-color: #ffffff;
  padding: 50px;
  width: 35%;
  border-radius: 20px!important;
  -webkit-box-shadow: 2px 7px 17px 3px rgba(231,238,245,1);
  -moz-box-shadow: 2px 7px 17px 3px rgba(231,238,245,1);
  box-shadow: 2px 7px 17px 3px rgba(231,238,245,1);
}
.commentbox__paragraph {
  font-size: 14px;
  color:#546e7a;
}
.commentbox-overview-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.before-facility {
  content : url('img/commentbox-section--left.png');
  top: 820px;
  left: 0px;
  position: absolute;
  display: block;
  z-index: -10;
}
.after-facility{
  content : url('img/commentbox-section--right.png');
  top: 950px;
  right: 0px;
  position: absolute;
  display: block;
}
.grid-row-right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.outer-commentbox:nth-child(1)::before{
  content : url('img/advocate.png');
  border: 0px solid pink;
}
.outer-commentbox:nth-child(2)::before{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  content : url('img/volunteer.png');
}
.outer-commentbox:nth-child(3)::before{
  content : url('img/explore.png');
}
/**/
.support-container {
  border: 0px solid blue;
  padding-top: 230px;
  padding-bottom: 40px;
}
.support-item-flex {
  display: flex;
  justify-content: space-between;
}
.article {
  border: 0px solid blue;
  text-align: center;
  padding: 30px;
}
/**/
.news-feed-container {
  padding-top: 100px;
}
.before-newsfeed{
  content : url('img/news-feed--left.png');
  top: 2650px;
  left: 0px;
  position: absolute;
  display: block;
  z-index: -10;
}
.news-feed-flex {
  display: flex;
  justify-content: space-around;
}
.newsbox {
  background-color: white;
  width: 260px;
  border-radius: 10px!important;
  -webkit-box-shadow: 2px 7px 17px 3px rgba(231,238,245,1);
  -moz-box-shadow: 2px 7px 17px 3px rgba(231,238,245,1);
  box-shadow: 2px 7px 17px 3px rgba(231,238,245,1);
}
.newsbox-thumbnail{
  width: 100%;
  border-top-left-radius: 10px!important;
  border-top-right-radius: 10px!important;
}
.news-padding {
  padding: 20px;
}
.news-title {
  font-size: 16px;
  padding-bottom: 20px;
}
.news-paragraph {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 20px;
  color: #546e7a;
}
.read-more {
  color: #2870db!important;
  font-size: 14px!important;
  font-weight: bold;
}
/**/
.subscibeform-container {
  padding-top: 100px;
}
.subscribe-inner-box {
  width: 100%;
  padding: 40px;
  background: url('img/subscribe-form.png'), #3072c0;
  height: 380px;
  width: auto;
  border-radius: 10px!important;
}
.subscribe-form h2 {
  color: #fff;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px auto!important;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit], select {
  width: auto;
  padding: 12px 40px;
  color: #fff;
  margin: 0 auto!important;
  display: inline-block;
  background-color: #00aeff;
  border-radius: 20px!important;
  border-radius: 4px;
  box-sizing: border-box;
}
/**/
.footer {
    position: absolute;
    width: 63%!important;
}
.footer-box {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: lighter;
  color: white;
}
.after-footer{
  position: absolute;
  content : url('img/footer-image.png');
  left:-230px;
  top:-240px;
  width: 170%;
  z-index: -10!important;
}

.footer-box h3 {
  padding-bottom: 30px;
  font-weight: lighter;
  font-size: 18px;
  color: white;
  letter-spacing: normal;
}
.footer-box .list-item {
  line-height: 1.8;
}

/**/
@media screen and (min-width: 300px) and (max-width: 1350px) {
    img.before-intro{
      width: 20%;
    }

    img.after-intro{
    width: 50%;
  }
}
