/* = = = = = = = = = = = = = = = =
Muncak Landing Page
PSD Layout
Practicing making a Landing Page from PSD
Start Coding : 15-03-2020
= = = = = = = = = = = = = = = = */

/* ============ 12 COLUMN GRID  ============ */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* { /* reset all extra spaces*/

  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
          margin: 0;
          padding:0;
          box-sizing: border-box;
          border: 0px solid black;
          font-family: 'Open Sans', sans-serif;
}
a, p, h1, h2 {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}
body {
  background-color: #fbfcfc;
  display: flex;
  justify-content: center;
}
.wrapper {
  width: 70%;
  height: auto;
}
.wrapper::before{
  content : url('img/header--left.png');
  top: 230px;
  left: 0px;
  position: absolute;
  display: block;
  z-index: -10;
}
.wrapper::after{
  content : url('img/header--right.png');
  top: 0px;
  right: 0px;
  position: absolute;
  display: block;
  z-index: -10;
}
.inner-wrapper {
 padding: 50px;
}
.title-container {
  display: flex;
  justify-content: space-between;
}
h1.head-name::first-letter{
  color: #2870db;
}
h1.head-name{
  font-size: 25px;
  color: #1c2056;
}
.head-navigation{
 display: flex;
 align-items: center;
 list-style-type: none;
}
.head-navigation a{
  padding: 5px 25px;
  border-radius: 20px;
  color: white;
}
.login-btn {
  color: #14215e!important;
  background-color: white;
  border-radius: 10px!important;
}

/**/
.intro-container {
  padding: 50px;
  margin-bottom: 40%;
}
.intro-title {
  font-size: 28px;
  color: #1c2056;
}
.paragraph {
  color: #1c2056;
  font-size: 15px;
  margin: 10px 0 50px 0;
  line-height: 1.6em;
}
.call-to-action-btn {
  background-color: #2870db;
  padding: 10px 25px;
  color: white;
  font-size: 15px;
  border-radius: 20px!important;
  -webkit-box-shadow: 0px 10px 21px 0px rgba(187,208,232,1);
  -moz-box-shadow: 0px 10px 21px 0px rgba(187,208,232,1);
  box-shadow: 0px 10px 21px 0px rgba(187,208,232,1);
}
/**/
.section-title {
  text-align: center;
  padding-bottom: 40px;
}
.commentbox {
  background-color: #ffffff;
  padding: 50px;
  border: 1px solid #e2eaf4;
  width: 35%;
  border-radius: 20px!important;
  -webkit-box-shadow: 0px 10px 21px 0px rgba(187,208,232,1);
  -moz-box-shadow: 0px 10px 21px 0px rgba(187,208,232,1);
  box-shadow: 0px 10px 21px 0px rgba(187,208,232,1);
}
.commentbox__paragraph {
  font-size: 14px;
  color:#546e7a;
}
.commentbox-grid-overview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.facility-container::before{
  content : url('img/commentbox-section--right.png');
  top: 1000px;
  right: 0px;
  position: absolute;
  display: block;
}
.grid-row-right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.outer-commentbox:nth-child(1)::before{
  content : url('img/advocate.png');
  border: 0px solid pink;
}
.outer-commentbox:nth-child(2)::before{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  content : url('img/volunteer.png');
}
.outer-commentbox:nth-child(3)::before{
  content : url('img/explore.png');
}
