/* = = = = = = = = = = = = = = = =
Muncak Landing Page
PSD Layout
Practicing making a Landing Page from PSD
Start Coding : 15-03-2020
= = = = = = = = = = = = = = = = */

/* ============ 12 COLUMN GRID  ============ */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* { /* reset all extra spaces*/

  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
          margin: 0;
          padding:0;
          box-sizing: border-box;
}

a, p, h1, h2 {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}
body {
  background-color: #fbfcfc;
  display: flex;
  justify-content: center;
}
.wrapper {
  width: 70%;
  height: auto;
}
.wrapper::before{
  content : url('img/header--left.png');
  top: 230px;
  left: 0px;
  position: absolute;
  display: block;
  z-index: -10;
}
.wrapper::after{
  content : url('img/header--right.png');
  top: 0px;
  right: 0px;
  position: absolute;
  display: block;
  z-index: -10;
}
.inner-wrapper {
 padding: 50px;
 border: 0px solid purple;
}
.title-container {
  display: flex;
  justify-content: space-between;
}
h1.head-name::first-letter{
  color: #2870db;
}
h1.head-name{
  font-size: 25px;
  color: #1c2056;
}
.head-navigation{
 display: flex;
 align-items: center;
 list-style-type: none;
}
.head-navigation a{
  padding: 5px 25px;
  border-radius: 20px;
  color: white;
}
.login-btn {
  color: #14215e!important;
  background-color: white;
  border-radius: 10px!important;
}

/**/
.intro-container {
  border: 0px solid gold;
  padding: 50px;
}
.intro-title {
  font-size: 28px;
  color: #1c2056;
}
.paragraph {
  color: #1c2056;
  font-size: 15px;
  margin: 10px 0 50px 0;
  line-height: 1.6em;
}
.call-to-action-btn {
  background-color: #2870db;
  padding: 10px 25px;
  color: white;
  font-size: 15px;
  border-radius: 5px!important;
}
